.form-structure{
    margin: auto;
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:palevioletred;
    border-radius: 30px;
 
    }