.outer-wrap{
    display: grid;
    height: 500px;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}
.left-col-list{
    display: grid;
    grid-template-columns: 1fr;
    
}
.article-list{
    display: flex;
    height: 200px;
    overflow: hidden;
}
h4{
    padding-left: 1em;
}
@media(max-width: 768px){
   .outer-wrap{
       display: flex;
       flex-direction: column;
   }
   .article-list img{
        width: 40%;
   }
   .right-big-img img{
        width: 100%;
   }
   
   
}